body{
    background-color: #222;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    font-size: 120%;
}

.card{
    background-color: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em; 


}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    
    cursor: pointer; 
    transition: .2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

input.search-box{
    background: #7c7c7c2b;
    border: none; 
    outline: none;
    padding: .4em 1em ; 
    border-radius: 24px;
    color: white; 
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

h1.temp{
    margin: 0; 
}