body{
  
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('./imgs/basic.png');
    background-size:cover;
    background-position: center;
    position: relative;
    
    /* background-image: url("https://source.unsplash.com/1600x900/?landscape"); */
    font-size: 120%;
}
/*
#f29b9bd0
*/
.greeting{
    font-family:  'Poppins', monospace;;
}
.error{
    background-color: #f59593;
    padding: 1.5em;
    border-radius: 30px;
    box-sizing: border-box;
    width: 496.8px;
    margin: 0em;
    color: white;
    text-align: center;
    font-size: 100%;
    
    visibility: hidden;
    position: fixed;
    top: 10%; 
    box-shadow: 15px 15px 25px 0px #878787;
    
}


.card{
    background-color: #f59593; 
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    margin-top: 0em;
    color: white;
    z-index: 1;
    position: absolute;
    /* box-shadow: 15px 15px 25px 0px #878787; */
}

.offsetCard{
    background-color: #FFCBCB; 
    box-sizing: border-box;
    padding: 2em;
    border-radius: 30px;
    width: 496.8px;
    height: 387.28px;
    margin: 0em;
    margin-top: 1em;
    margin-left: 2em;
    color: white;
    z-index: 0;
    position: absolute;
  
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #fb9b9b;
    color: white;
    cursor: pointer; 
    transition: .2s ease-in-out;
    
}

button:hover{
    background: #f59593;
}

input.search-box{
    background: #fb9b9b;
    border: none; 
    outline: none;
    padding: .4em 1em ; 
    border-radius: 24px;
    color: white; 
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
    
  
}
::placeholder {
    color: white;
    opacity: 80%;
    
  }
h1.temp{
    margin: 0; 
    margin-bottom: .4em;
}

.description{
    text-transform: capitalize;
    margin-left: 10px;
    
}
.flex{
    display: flex;
    align-items: center;
    margin: 0;

}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute; 
    top: 0; 
}
.flower{
    width: 8%;
    height: auto;
    z-index: 2;
    margin-left: 320px;
    margin-top: 150px;
    opacity: 50%;
   
}

.icon{
    height: 30px;
    width: auto;

}


